<h1>Riddle of the Sphinx</h1>
<form action="/output" method="post">
  <div class="form-group">
    <h4>RIDDLE 1</h4>
    <p>What walks on four legs, then two, then three?</p>
    <label for="answer1">Answer 1:</label>
    <input id="answer1" name="answer1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <h4>RIDDLE 2</h4>
    <p>The part of the bird that is not in the sky, which can swim in the ocean and always stay dry.</p>
    <label for="answer2">Answer 2:</label>
    <input id="answer2" name="answer2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <h4>RIDDLE 3</h4>
    <p>What is unique about this poem?<br><br>

        Evil am I.<br>
        Evil,<br>
        as so to die not sane.<br><br>

        Menace I lay.<br>
        A stab mocks.<br>
        I revolt.<br>

        No din is still.<br>
        I kidnap and I kill.<br>
        It's sin I don't love.<br><br>

        Risk combat.<br>
        Say a lie.<br>
        Cane men.<br><br>

        A stone I do toss!<br>
        Alive,<br>
        I'm alive.
    </p>
    <label for="answer3">Answer 3:</label>
    <input id="answer3" name="answer3" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
